.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
hr{
  height: 1px;
  background-color: black;
  width: 90%;
}

body{
  background-color: #D9D9D9;
}

.InputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#searchEngine{
  display: flex;
  justify-content: center;
}
#searchBar{
  width: 40vw;
  height: 7vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: black;
  font-size: 20px;
}
#searchButton{
  background-color: red;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 7vw;
  border-width: 2px;
  border-color: black;
  border-left: 0px;
  font-size: 20px;
}
.Display{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 5vh;
  border-radius: 20px;
  width: 50vw;

}
#displayRowOne{
  display:flex;
  justify-content: space-around;
}
#displayRowTwo{
  display:flex;
  align-items: center;
  flex-direction: column;
}
#displayRowThree{
  display:flex;
  justify-content: space-around;
}
.sprite{
  width: 15vw;
  height: auto;
}
#statsList{
  list-style: none;
  padding: 0;
}
#statsList li{
  display: inline;
  margin: 10px;
  word-wrap: break-word;
}
.typeDisplay{
  width: 65px;
}
.typesListS{
  display: flex;
  flex-direction: column;
  width: 5vw;
  border-right: 20px black;
}
.typesListW{
  display: flex;
  flex-direction: column;
  width: 5vw;
}
p{
  text-align: center;
}

/*Making a bunch of CSS classes to make each type have a unique color background */

#normal{
background-color: rgb(170,170,153);
}
#fire{
  background-color: rgb(255,68,34);
}#water{
  background-color: rgb(51,153,254);
}#electric{
  background-color: rgb(255,204,51);
}#grass{
  background-color: rgb(118,204,85);
}#ice{
  background-color: rgb(101,204,255);
}#fighting{
  background-color: rgb(186,85,68);
}#poison{
  background-color: rgb(170,85,153);
}#ground{
  background-color: rgb(222,187,84);
}#flying{
  background-color: rgb(135,153,255);
}#psychic{
  background-color: rgb(255,85,153);
}#bug{
  background-color: rgb(169,187,34);
}#rock{
  background-color: rgb(187,170,102);
}#ghost{
  background-color: rgb(102,102,186);
}#dragon{
  background-color: rgb(118,102,238);
}#dark{
  background-color: rgb(119,84,68);
}#steel{
  background-color: rgb(170,170,187);
}#fairy{
  background-color: rgb(238,153,238);
}