.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
hr{
  height: 1px;
  background-color: black;
  width: 90%;
}

body{
  background-color: #D9D9D9;
}

.InputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#searchEngine{
  display: flex;
  justify-content: center;
}
#searchBar{
  width: 40vw;
  height: 7vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: black;
  font-size: 20px;
}
#searchButton{
  background-color: red;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 7vw;
  border-width: 2px;
  border-color: black;
  border-left: 0px;
  font-size: 20px;
}
.Display{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 5vh;
  border-radius: 20px;
  width: 50vw;

}
#displayRowOne{
  display:flex;
  justify-content: space-around;
}
#displayRowTwo{
  display:flex;
  align-items: center;
  flex-direction: column;
}
#displayRowThree{
  display:flex;
  justify-content: space-around;
}
.sprite{
  width: 15vw;
  height: auto;
}
#statsList{
  list-style: none;
  padding: 0;
}
#statsList li{
  display: inline;
  margin: 10px;
  word-wrap: break-word;
}
.typesList{
  display: flex;
  flex-direction: column;
}